#layers {
  position: relative;
  width: 100%;
  height: 100%;
}

#layers .layer {
  position: absolute;
  width: 100%;
  height: 100%;
}

#layers #lUI .button-style {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 0.5em 0.5em;
  width: 120px;
  color: white;
  font-size: 13px;
  font-weight: 700;
  background-image: linear-gradient(170deg, #659de6, #5abab8);
  border-radius: 50vh;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#layers #lUI .button-style .button a::after {
  content: '';
  width: 5px;
  height: 5px;
  border-top: 3px solid #333333;
  border-right: 3px solid #333333;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#layers #lUI .button-style .button a:hover {
  text-decoration: none;
  background-image: linear-gradient(-170deg, #659de6, #5abab8);
}

#layers #lUI .kurage-info-wrap .kurage-infos {
  position: absolute;
  top: 15%;
  left: 2%;
  margin: 0;
  padding: 0;
  font-size: large;
  list-style-type: none;
}

#layers #lUI .kurage-info-wrap .kurage-info {
  color: white;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#layers #lUI .button {
  height: 100%;
  width: 100%;
  opacity: 0.9;
}

#layers #lUI .button .leftSide {
  position: absolute;
  top: 70%;
}

#layers #lUI .button .leftSide .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#layers #lUI .button .leftSide .menu .conf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#layers #lUI .button .leftSide #end {
  opacity: 0.8;
}

#layers #lUI .button .rightSide {
  position: absolute;
  top: 70%;
  right: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#layers #lUI .button #bubble {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

#layers #lAnime1 .container {
  height: 100%;
  width: 100%;
}

#layers #lAnime1 .container .img {
  width: 100px;
  position: fixed;
  top: 300px;
  left: 300px;
}

#layers #lAnime1 .container .img img {
  width: 100%;
}

#layers #lBG {
  background-image: url("./images/bg/bg_03.png");
  background-size: cover;
}

html, body {
  background-color: #052555;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.container {
  background-image: url("./images/bg/bg_02.png");
  background-size: cover;
  height: 100%;
  width: 100%;
}

.container .img {
  width: 100px;
  position: fixed;
  top: 300px;
  left: 300px;
}

.container .img img {
  width: 100%;
}

.kurage-infos {
  position: absolute;
  margin-top: 10px;
  margin-left: 300px;
  font-size: large;
  list-style-type: none;
  font-weight: bold;
  color: #fff;
}

.kurage-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#awa {
  position: fixed;
  width: 40px;
  height: 40px;
  margin-left: 200px;
  background-color: transparent;
  border-radius: 50%;
  pointer-events: none;
  -webkit-box-shadow: inset 0 0 5px white;
          box-shadow: inset 0 0 5px white;
}

#awa::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0.25) translate(-70%, -70%);
          transform: scale(0.25) translate(-70%, -70%);
  background: radial-gradient(white, transparent);
  border-radius: 50%;
}

#awa1 {
  position: fixed;
  margin-top: 712px;
}

#aaa {
  position: fixed;
  width: 100px;
  height: 100px;
  margin-top: 123px;
  margin-left: 100px;
  background-color: azure;
}
/*# sourceMappingURL=style.css.map */