html, body {
    background-color: rgb(5, 37, 85);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.container {
    background-image: url("./images/bg/kurage02.png");
    background-size: cover;
    height: 100%;
    width: 100%;
    .img {
        width: 100px;
        // background-color: #0003;
        position: fixed;
        top: 300px;
        left: 300px;
        img {
            width: 100%;
        }
    }
}