@import "./layers";

html, body {
    background-color: rgb(5, 37, 85);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

 
.container {
    background-image: url("./images/bg/kurage02.png");
    background-size: cover;
    height: 100%;
    width: 100%;
    .img {
        width: 100px;
        // background-color: #0003;
        position: fixed;
        top: 300px;
        left: 300px;
        img {
            width: 100%;
        }
    }
    #esaarea {
        .esa {
            color: #fff;
            font-size: 25px;
            line-height:1em;
        }
    } 
}

// html, body {
//     background-color: rgb(5, 37, 85);
//     margin: 0;
//     padding: 0;
//     height: 100%;
//     width: 100%;
// }

// .container {
//     background-image: url("./images/bg/kurage02.png");
//     background-size: cover;
//     height: 100%;
//     width: 100%;
//     .img {
//         width: 100px;
//         // background-color: #0003;
//         position: fixed;
//         top: 300px;
//         left: 300px;
//         img {
//             width: 100%;
//         }
//     }
//     .button-style{
//         //display: flex;
//         justify-content: space-between;
//         //align-items: center;
//         margin: 0 auto;
//         padding: 0.5em 0.5em;
//         width: 120px;
//         color: rgb(255, 255, 255);
//         font-size: 13px;
//         font-weight: 700;
//         background-image: linear-gradient(170deg, #659de6, #5abab8);
//         border-radius: 50vh;
//         transition: 0.3s;

//         .button a::after {
//             content: '';
//             width: 5px;
//             height: 5px;
//             border-top: 3px solid #333333;
//             border-right: 3px solid #333333;
//             transform: rotate(45deg);
//         }
          
//         .button a:hover {
//             text-decoration: none;
//             background-image: linear-gradient(-170deg, #659de6, #5abab8);
//         }
//     }
//     .button{
//         height: 100%;
//         width: 100%;
//         opacity: 0.9;
//         .leftSide{
//             .menu{
//                 display: flex;
                
//                 .conf{
//                     display: flex;
//                     flex-direction: column;
//                 }
//             }
//         }
//         .rightSide{
//             display: flex;
//             display: inline-flex;
//             justify-content: flex-end;
//             flex-direction: column;

            
//         }
//     }
// }
.kurage-infos{
    position: absolute;
    margin-top: 10px;
    margin-left: 300px;
    font-size: large;
    list-style-type: none;
    font-weight: bold;
    color: #fff;
  }
  .kurage-info{
    display: flex;
  }
  #awa{
    position: fixed;
    width: 40px;
    height: 40px;
    
    margin-left: 200px;
    background-color: transparent;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: inset 0 0 5px rgb(255, 255, 255);
  }
  #awa::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(0.25) translate(-70%, -70%);
    background: radial-gradient(rgb(255, 255, 255), transparent);
    border-radius: 50%;
  }
  #awa1{
    position: fixed;
    margin-top: 712px;
  }
  #aaa{
    position: fixed;
    width: 100px;
    height: 100px;
    margin-top: 123px;
    margin-left: 100px;
    background-color: azure;
    
  }